data/
results/
scripts/*/log
scripts/*/*/log
scripts/*/old
scipts/*/db
scripts/metagenomics/BASALT
scripts/metagenomics/launch
scripts/metagenomics/taxonkit
scripts/metagenomics/yamls
scripts/data_eval/KrakenTools
scripts/metagenomics_test/db/organelle_proteins.faa
scripts/metagenomics_test/db/refseq_mitochondrion/mitochondrion.1.1.genomic.fna.gz
scripts/metagenomics_test/db/refseq_mitochondrion/mitochondrion.1.genomic.gbff.gz
scripts/metagenomics_test/db/refseq_mitochondrion/mitochondrion.1.protein.faa.gz
scripts/metagenomics_test/db/refseq_mitochondrion/mitochondrion.1.protein.gpff.gz
scripts/metagenomics_test/db/refseq_plastid/plastid.1.1.genomic.fna.gz
scripts/metagenomics_test/db/refseq_plastid/plastid.1.2.genomic.fna.gz
scripts/metagenomics_test/db/refseq_plastid/plastid.1.genomic.gbff.gz
scripts/metagenomics_test/db/refseq_plastid/plastid.1.protein.faa.gz
scripts/metagenomics_test/db/refseq_plastid/plastid.1.protein.gpff.gz
scripts/metagenomics_test/db/refseq_plastid/plastid.2.1.genomic.fna.gz
scripts/metagenomics_test/db/refseq_plastid/plastid.2.2.genomic.fna.gz
scripts/metagenomics_test/db/refseq_plastid/plastid.2.genomic.gbff.gz
scripts/metagenomics_test/db/refseq_plastid/plastid.2.protein.faa.gz
scripts/metagenomics_test/db/refseq_plastid/plastid.2.protein.gpff.gz
scripts/metagenomics_test/db/refseq_plastid/plastid.3.1.genomic.fna.gz
scripts/metagenomics_test/db/refseq_plastid/plastid.3.genomic.gbff.gz
scripts/metagenomics_test/db/refseq_plastid/plastid.3.protein.faa.gz
scripts/metagenomics_test/db/refseq_plastid/plastid.3.protein.gpff.gz
